body {
  background-color: rgb(13, 26, 45);
}
section {
  background-color: rgb(20, 39, 62);
  width: 250px;
  margin: auto;
  border-radius: 10px;
}
section .container {
  width: 80%;
  margin: auto;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.container img {
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.container img:hover {
  opacity: 0.5;
}
section .container .p1 {
  color: rgb(185, 192, 207);
  font-size: 18px;
}
.flex1 .box2 p {
  color: rgb(185, 192, 207);
}
.flex1 .box1 p {
  color: rgb(0, 144, 157);
  font-size: 14px;
  font-weight: bold;
}
.container h2 {
  font-size: 17px;
  font-weight: 300, 400, 600;
  color: rgb(210, 218, 224);
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  transition: 1s;
}
.container h2:hover {
  color: rgb(0, 144, 157);
}
.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.flex1 .box1 {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.flex1 .box2 img {
  border-radius: 30px;
}
.flex1 .box2 {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.flex2 {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-top: 10px;
}
.flex2 img {
  border-radius: 50px;
  border: solid 1px rgb(255, 255, 255);
}
.flex2 p span {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 1s;
}
.flex2 p{
  color: rgb(185, 192, 207) ;
}
.flex2 p span:hover {
  color: rgb(0, 144, 157);
}
